[mysqld]
user = mysql
datadir = /var/lib/mysql
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
bind-address = 0.0.0.0  # Esto permite conexiones remotas, asegúrate de configurarlo adecuadamente para tu caso de uso
skip-networking = 0  # Esto habilita la escucha de MariaDB en la red
default_authentication_plugin = mysql_native_password  # Utiliza la autenticación de contraseña tradicional

# Crear un usuario y establecer su contraseña
init_connect='GRANT USAGE ON *.* TO "jose"@"localhost" IDENTIFIED BY "123";'
